.image{
    width: 200px;
}

body{
    background-color:darkcyan;
    min-height: 100vh;
}

.carousel-item img{
    height: 82vh;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.d-flex {
    border: solid red;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

footer{
    height: 10vh;
    background-color: darkgray;
}

.cohort img {
    width: 200px;
}

.footer,.networks,.cohort {
    height: 100%;
}

.networks img {    
    height: 5vh;
}